/Test_Functions.ipynb
/__pychache__/
/data/
/Orientation/__pychache__
/SignalProcessing/__pychache__
/Tasks/__pychache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
SignalProcessing/__pycache__/__init__.cpython-311.pyc
SignalProcessing/__pycache__/Filters.cpython-311.pyc
